[Unit]
Description=T100TA Wake Script
After=suspend.target

[Service]
Type=oneshot

# Touchscreen not working after suspend
ExecStart=/sbin/modprobe hid_multitouch

# System is freezing during suspend with new touchpad driver
ExecStart=/sbin/modprobe usbhid

# Network workaround
ExecStart=/bin/systemctl restart network-manager.service
ExecStart=/bin/systemctl restart wpa_supplicant.service

[Install]
WantedBy=suspend.target
