[Unit]
Description=T100TA Suspend Script
Before=sleep.target

[Service]
Type=oneshot

# System is freezing during suspend with new touchpad driver
ExecStart=/sbin/modprobe -r usbhid

# Touchscreen not working after suspend
ExecStart=/sbin/modprobe -r hid_multitouch

[Install]
WantedBy=sleep.target
